/*Общие стили*/

.visually-hidden {
	position: absolute;
  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;
  	clip: rect(0 0 0 0);
  	overflow: hidden; 
}

body {
	margin: 0;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
	color: #283136;

	background-color: #FFFFFF;
}

a {
	text-decoration: none;
}

/*Шапка страницы*/

.header {
		background-color: #EEEEEE;
		display: flex;
}

.nav a {
	display: inline-block;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.header-logo {
	display: inline-block;
	margin-left: 140px;
	margin-top: 49px;
}

.nav a:hover {
	color: #FB565A;
}

.nav a:active,
.header-logo a:active {
	opacity: 0.3;
}

.header-navigation {
	flex-grow: 1;
}

.nav {
	display: flex;
	margin-bottom: 8px;
	margin-top: 75px;
}

.nav li {
	list-style: none;
}

.studio {
	margin-left: 202.13px;
}

.clients {
	margin-left: 44px;
}

.magazin {
	margin-left: 48px;
}

.contacts {
	margin-left: 44px;
}

.cart {
	margin-left: auto;
	margin-right: 140.16px;
}

.cart a:before {
	content: url(img/index-img/cart-icon.svg);
	margin-right: 24.84px;
}

.selected a:before {
	margin-top: 13px; 
	border-bottom: 2px solid #FB565A;

}

/*Слайдер*/

.slogan-1,
.slogan-2,
.slogan-3 {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.slogan-btn-1,
.slogan-btn-2,
.slogan-btn-3 {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #FFFFFF;
	background-color: #FB565A;
	border-radius: 3px;
	padding: 16px 54px;
}

.slider-container {
	background-color: #EEEEEE;
}
